/JustTest/nbproject/private/
/JustTest/build/
/JustTest/dist/
/GpioExample/target/
/testdelete/nbproject/private/
/Test/target/
/HolaMundoPackage/nbproject/private/
/HolaMundoPackage/build/
/RaspberryInput/target/
